body{
    margin: 0px;
    font-family: Roboto, Arial, sans-serif;
}
.top-header{
    height: 57px;
    width: 100%;
}
.left-section{
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    width: 18%;
    float: left;
}
.right-section{
    

}
.menu-image{
    padding: 21px;
    float: left;
}
.lefttop-yt{
    float: left;
    padding-top: 11px;
}
.search{
    float: left;
    margin-left: 175px;
    width: 100px;
    
}
.inner-search{
    width: 554px;
    height: 27px;
}
.search-button{
    float: left;
    padding-left: 462px;
    padding-top: 16px;

}
.sbtn{
    height: 33px;
    width: 65px;
}

.headerright{
    float: left;
    padding-left: 195px;
    padding-top: 12px;
}
.home{
    float: left;
    padding-left: 21px;
    padding-top: 8px;
    

}
.home-text{
    float: left;
    padding-top: 13px;
    padding-left: 25px;
}
.Trending{
    padding-left: 21px;
    padding-top: 5px;
    float: left;

}
.Trending-text{
    float: left;
    padding-top: 10 px;
    padding-left: 23px;
}
.Subscriptions{
    padding-left: 21px;
    padding-top: 8px;
    float: left;

}
.Subscriptions-text{
    float: left;
    padding-top: 13px;
    padding-left: 25px;
}
.Line-1{
    float: left;
    width: 245px;
    text-align:left;
    margin-left:0
}
.library{
    padding-left: 21px;
    padding-top: 8px;
    float: left;

}
.library-text{
    float: left;
    padding-top: 13px;
    padding-left: 23px;
}
.history{
    padding-left: 21px;
    padding-top: 8px;
    float: left;

}
.history-text{
    float: left;
    padding-top: 13px;
    padding-left: 23px;
}
.yvideos{
    padding-left: 21px;
    padding-top: 8px;
    float: left;

}
.yvideos-text{
    float: left;
    padding-top: 13px;
    padding-left: 25px;
}
.wlater{
    padding-left: 21px;
    padding-top: 8px;
    float: left;

}
.wlater-text{
    float: left;
    padding-top: 13px;
    padding-left: 25px;
}
.lvideos{
    padding-left: 21px;
    padding-top: 8px;
    float: left;

}
.lvideos-text{
    float: left;
    padding-top: 13px;
    padding-left: 25px;
}
.smore{
    padding-left: 21px;
    padding-top: 15px;
    float: left;

}
.smore-text{
    float: left;
    padding-top: 13px;
    padding-left: 25px;
}
.subs{
    float: left;
    padding-top: 13px;
    padding-left: 25px;
}
.crossroads{
    padding-left: 21px;
    padding-top: 8px;
    float: left;

}
.crossroads-text{
    float: left;
    padding-top: 13px;
    padding-left: 19px;
}
.live{
    padding-left: 20px;
    padding-top: 12px;
}
.AllRec{
    float: left;
    border-radius: 25px;
    background: #F2F2F2;
    color: black;
    padding: 9px;
    width: 167px;
    height: 37px;
    margin-left: 18px;
    border-width: 1px;
}

.RecText{
    font-size: 18px;
    margin-left: 25px;
    font-family: sans-serif;
    font-weight: 600;
}
.Thumbnail1{
    float: left;
}
.Thumbnail2{
    float: left;
    margin-top: 21px;
}
.Thumbnail3{
    float: left;
    margin-top: 21px;
}
.Thumbnail4{
    float: left;
    margin-top: 21px;
}
.T1{
    margin-left: 25px;
    margin-top: 20px;
}
.T2{
    margin-left: 16px;
    margin-bottom: 3px;
}
.T3{
    margin-left: 16px;
}
.T4{
    margin-left: 16px;
}
.T1-Text{
    margin-left: 24px;
    font-size: 15px;
}
.logo1{
    margin-left: 20px;
}